html {
    font-family: sans-serif;
}

input, label {
    display:block;
}

input {
    margin-bottom: 1em;
}

ol li {
    line-height: 1.5;
}

.strikethrough {
    text-decoration: line-through;
}

label {
    font-weight: bold;
}

button, .btn {
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: .75em;
}

progress {
    appearance: none;

    width: 100%;

    margin-bottom: .5em;
}

progress[value]::-webkit-progress-bar {
    background-color: white;

    border: 1px solid black;
    border-radius: 4px;
}

progress[value]::-webkit-progress-value {
    background-color: green;
}

.text-center {
    text-align: center;
}

.box {
    border: 1px solid black;
    border-radius: 4px;

    padding: 1em;

    margin-bottom: .5em;
}

#books {
    margin-top: 1em;
}

/* from: https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    /* Hidden by default */
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 80%;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}